{% load var %}
<script type="text/javascript" src="{{ STATIC_URL|concat:'lib/jquery-3.5.1/jquery-3.5.1.js' }}"></script>
<script type="text/javascript" src="{{ STATIC_URL|concat:'lib/popper-2.6.0/popper.js' }}"></script>
<script type="text/javascript" src="{{ STATIC_URL|concat:'lib/bootstrap-4.1.3-dist/js/bootstrap.bundle.js' }}"></script>
<script type="text/javascript" src="{{ STATIC_URL|concat:'lib/bootstrap-5.0.0-beta1-dist/js/bootstrap.bundle.js' }}"></script>
<script type="text/javascript" src="{{ STATIC_URL|concat:'lib/fontawesome-free-5.15.2-web/js/all.js' }}"></script>
<script type="text/javascript" src="{{ STATIC_URL|concat:'lib/wowjs-1.3.0/wow.js' }}"></script>
<script>new WOW().init();</script>
<script>$('[data-toggle="tooltip"]').tooltip();</script>

<script type="text/javascript" src="{{ STATIC_URL|concat:'js/main.js' }}"></script>